@use 'variaveis';
@use 'hero';
@use 'details';
@use 'cast';
@use 'gallery';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: variaveis.$cordeFundo;
}

h2 {
    color: variaveis.$corTextoPrincipal;
    border-bottom: 1px solid variaveis.$corTextoPrincipal;
    margin-bottom: 24px;
}

h3 {
    color: variaveis.$corTextoPrincipal;
}

.title {
    font-size: 24px;
    color: variaveis.$corTextoPrincipal;
}

.text {
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
}